.vscode/
.DS_Store
data/*
!data/README.md
!data/test_data
models/*
!models/README.md
outputs/*
!outputs/README.md
!outputs/test_data
scripts/dev_*
utils/functions/dev_*
notebooks/

venv/
utils/__pycache__
utils/functions/__pycache__

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/