.vscode/
data/*
!data/README.md
!data/test_data
models/*
!models/README.md
outputs/*
!outputs/README.md
!outputs/test_data
scripts/dev_*
scripts/functions/dev_*

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/